/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  background: linear-gradient(to bottom, #4f777f, #164e5f);
  color: #fff;
  font-family: "Cutive Mono", monospace;
  width: 100%;
  height: 100%;
  display: table-cell;
}

.border-gradient {
  padding: 3rem;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.outer-container {
  background-color: #1e2023;
  max-width: 100%;
  height: 100%;
}

.project-box {
  background-color: #1A1B1E;
  padding: .75rem .75rem 0 .75rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}

.project-box h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: .3rem;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .one-third.column {
    width: 32%;
    margin-left: 2%;
  }

  .one-third.column:first-child {
    margin-left: 0;
  }
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav#main-menu {
  padding-top: 1.5rem;
}

nav#main-menu ul {
  list-style: none;
}

nav#main-menu ul li {
  display: inline;
  margin-right: 2rem;
}

nav#main-menu ul li::after {
  content: "/";
  color: #7efff3;
  font-weight: bold;
  margin-left: 2.5rem;
}

nav#main-menu ul li:last-child::after {
  content: "";
}

.social {
  text-align: center;
  margin-top: 2rem;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
  color: #8a8a8a;
}

.intro {
  font-size: 2rem;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a,
a:hover {
  text-decoration: none;
  transition: color .15s ease-in;
}

a {
  color: #7efff3;
}

a:hover {
  color: #fff;
}

.highlight-link {
  color: #fff;
  position: relative;
  z-index: 1;
}

.highlight-link::after {
  background-color: #4f777f;
  bottom: 0;
  content: ' ';
  display: block;
  height: 50%;
  left: .7rem;
  opacity: .5;
  position: absolute;
  transition: all .15s ease-in-out;
  width: calc(100%);
  z-index: -1;
}

.highlight-link:hover {
  color: #fff;
}

.highlight-link:hover::after {
  left: -.75rem;
  opacity: 1;
  width: calc(100% + 1.5rem);
}

.home-link {
  text-align: center;
}

.home-link span {
  color: #7efff3;
  padding-right: .4rem;
}


/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.avatar img {
  border-radius: 100%;
  background-clip: padding-box;
  overflow: hidden;
  display: block;
  height: 17rem;
  width: 17rem;
  margin: 0 auto;
}